#root {
  display: flex;
  flex: 1;
  flex-direction: column;
}


body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.MuiBox-root main {
  z-index: 10 !important;
  background: white !important; 
}


.ag-theme-material .ag-header-cell {
  font-weight: 600;
  background-color: rgb(220, 241, 255);
  color: #000;
  font-size:medium;
  cursor: default !important;
  border: #000;
}


.ag-theme-material .row-drag-handle {
  cursor: move;
}

/* during drag */
.ag-theme-material .ag-row-dragging {
  background: #fafafa;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.ag-theme-material .ag-cell {
  font-size: 13px;
  padding: 0 8px;
}

p {
  color: #000;
}

.login {
  color: #000;
}

label {
  color: #000;
}