#root {
  display: flex;
  flex: 1;
  flex-direction: column;
}


body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent double scrollbars */
}

/* Force content area to be visible */
.MuiBox-root main {
  z-index: 10 !important;
  background: white !important; /* Add background color */
}


.ag-theme-material {
  --ag-grid-size: 8px;
  --ag-list-item-height: 40px;
  --ag-font-size: 14px;
}

.ag-theme-material .ag-header-cell {
  font-weight: 600;
  background-color: rgb(220, 241, 255);
  color: #000;
  font-size:medium;
  cursor: default !important;
}



/* Enable row dragging cursor */
.ag-theme-material .row-drag-handle {
  cursor: move;
}

/* Add visual feedback during drag */
.ag-theme-material .ag-row-dragging {
  background: #fafafa;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}